.form-control{
    border-color: #1ABC9C;
}

.btn {
    background-color: #8E44AD;
}

.card{
    border: none;
}

.card-img-top {
    border-radius: 15px;
}
.form-group select {
    background-color: #8e44ad;
    color: #fff;
    border: 1px transparent;
  }
  
  .fade{
    background: rgba(19, 222, 104, 0.5);;
  }

  body{
      background-image: url(img/fondodesktopdp.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: top center;
  }

  .card{
    background-color: transparent;
  }

  h3 {
    font-size: 2rem;
}

img.icon {
    width: 20px;
}



@media(min-width:768px){
    body{
        background-image: url(img/fondomobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
    }

    
}